.bg-image-aboutus {
    background-image: url('../cab_images/wqdD.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto; /* Adjust as needed */
}

.text-content-aboutus{
    display: flex;
    justify-content:left;
    flex-direction: column;
    color: #fff;   
    text-align: left;
    font-weight: 400;
    font-size: 40px;
}

.bg-image-aboutus  .text-content-aboutus .text-heading-first{
    font-family: 'Inria Sans', sans-serif;
    font-size: 40px;
    font-weight: 400;
    text-align: left;
    padding: 150px 0px 0px 0px;
    margin-bottom: 0px;
}
.bg-image-aboutus  .text-content-aboutus .text-heading-two{
    font-family: 'Inria Sans', sans-serif;
    font-size: 20px;
    font-weight: 500;
    text-align: left;   
    color: #fff;
}


/* Media query for responsive styles */
@media (max-width: 991px) {
    .custom-navbar-nav {
        flex-direction: column;
        text-align: center;
    }

    .nav-item {
        padding: 10px 0;
    }

    .navbar-toggler {
        order: -1;
    }
}

.story-aboutus {
    font-family: 'Dosis';
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    padding: 50px 0px;
    color: #000000;
}
.aboutus-para {
    font-size: 14px;
    font-weight: 500;
    text-align: left;
    padding: 60px 30px;
    color: #000000;
}
.ourcompany-container{
    padding: 50px 20px 70px 0px;
}
.ourcompany{
    font-family: 'Dosis';
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
    text-align: left;
    color: #000000;


}
.ourcompany-para1 , .ourcompany-para2
{
    font-family: 'Dosis';
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    text-align: left;
    color: #000000;
}
/* carousel */
.slider-img{
    height: 338px;
}
.about-our-service{
    padding: 30px 0px;
}
.about-our-service-coloumn{
    padding: 26px 0px;
}
.about-our-service-coloumn-forma1 img{
    padding: 30px 0px;
}
.about-our-service-coloumn-forma1 p{
    font-size: 24px;
    font-family: 'Dosis';
}
.about-our-service{
    font-family: 'Dosis';
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    padding: 50px 0px 0px 0px ;
    color: #000000;
}    
.about-our-service-aim{
    font-family: 'Dosis';
    font-size: 18px;
    text-align: center;
    color: #c5c5bb;
}
.forma1-para{
    font-family: 'Dosis';
    font-size: 18px;
    text-align: left;
    color: #a0a099;
    /*padding: 0px 30px; */
}


/* ************************** Testimonial ************************** */


.carousel-control-prev-icon, .carousel-control-next-icon{
    display: none;
}
.carousel-control-prev
.carousel-control-next:focus, .carousel-control-next:hover, .carousel-control-prev:focus, .carousel-control-prev:hover {
    color: #fff;
    text-decoration: none;
    outline: 0;
    opacity: .9;
    display: none;
}
#carouselExampleCaptions .carousel-indicators button{
    width: 10px !important;
    height: 10px !important;
    border-radius: 50%;

}

