.chaufferservices {
    font-family: "Inter", sans-serif;
}
.servicecar {
    /* width:80%; */
    border-radius: 1%;
}
/* carousel  */
/* .carousel-indicators {

    border: 1px solid red;
} */
.chauffer-service{
    text-align: left;
    font-family: 'Dosis';
}
.chauffer-service-title{ 
    color: #1E1E1E;
    font-size : 25px;
}
.chauffer-service-subtitle{
    color : #969696;
      font-size : 16px;
}
ul[title]::before {
    content: attr(title);
    text-align: left;
    font-weight: bold;
    color: #1E1E1E;
    
}
.customwidth{
    width:82%;
}
.diffservices{
    background-color:#f3f3f3;  
}
.diffservices ul li{
    line-height: 50px;
    text-align: left;
    color : #969696;
    font-size: 16px;

}
.address-img{
    width:70px;
    height: 70px;
}
.phone-img{
    width:70px;
    height: 50px;
}
.email-img{
     width:70px;
    height: 50px;
}