.footer-container { 
    background-color: rgb(41, 39, 39);
    color: aliceblue;
    text-align: left;
}
.logo_container {
    margin-top: 50px;
    display: flex;
    justify-content: left;
}
.row1 {
    margin-right: 40px;
    border:1px solid black;
}
.coloumn_ourServices {
    text-align: left;
    font-family: 'Poppins';
}
.logo_container img {
    width: 60%;
    
}
.footer-container .google-img-container {
    margin-top: -20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
}
.footer-container .google-img-container img {
    margin-top: -10px;
}
.icon-container {
    display: flex;
    column-gap: 12%;
    
}
.icon-container span .fa-brands,
.icon-container span .fa-solid {
    color: rgb(161, 154, 154);
}
.our_service {
    font-size: 24px;
    margin-top: 50px;
}
.about {
    padding: 10px 0 0 0;
}
.fontcolor {
    color: rgb(172, 176, 179);
}
.mobile_container {
    font-size: 30px;
    color: rgb(245, 228, 206);
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    border: 1px solid rgb(245, 228, 206);
    border-radius: 1%;
    margin-top: 50px;
    margin-left: 30px;
    width: 280px;
}
.mobile_icon {
    font-size: 30px;
    padding-top: 16px;
}

.androidimg {
    width: 30px;
}

.app_container {
    display: flex;
    flex-direction: column;
    font-size: 12px;
}

.appStore_text {
    font-size: 16px;
    color: white;
    text-align: left;
    padding-top: 16px;
    font-family: 'Poppins';
}

.available {
    font-size: 14px;
    color: rgb(172, 176, 179);
    margin-top: -20px;
    text-align: left;
    font-family: 'Poppins';
}


/* media for max-width:1280 */
