body {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    color: #6a6a6a;
    font-size: 14px;
    background-color: #fff;
}
/* Custom CSS */
.bg-image {
    background-image: url('../cab_images/Component7.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 85vh;
}

/* RESponsive Header Start */
.container .logo {
    width: 200px;
}

.container.customheader {
    max-width: 100%;
    padding: 0 50px;
}

.container .navbar-collapse .navbar-nav .nav-item a.nav-link {
    font-family: poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    color: #fff;
    text-transform: capitalize;
}

.sign-in-btn {
    background-color: #CC4452;
    /* padding: 8px 40px; */
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    font-family: poppins;
    box-shadow: 0px 4px 4px 0px #00000040;
    width: 135px;
    height: 36px;
    border: unset;

}

.navbar-collapse {
    flex-basis: 100%;
    flex-grow: unset !important;
    align-items: center;
}

.navbar-toggler {
    background-color: #fff !important;
}

.nav-link.active {
    color: #CC4452 !important;
}

/* div#navbarSupportedContent {
    display: flex !important;
    justify-content: end !important;
    
} */
/* a.nav-link {
    color: #fff !important;
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;

} */
/* .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: red !important;
    font-family: 'Dosis';
    font-size: 14px;
    font-weight: 400;
} */
/* .custom-menu li a {
    color: #fff;
    text-decoration: none;
    font-family: 'Dosis';
    padding-right: 0px;
} */
/* div#navbarNavAltMarkup {
    display: flex;
    justify-content: end;
} */
/* .nav-item {
    padding-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
} */

/*.navbar-dark .navbar-nav .nav-link.active {
     color: #CC4452;
} */

/* .navbar-dark .navbar-nav .nav-link {
    color: #fff;
    font-size: 14px;
    font-family: 'Poppins';
} */
.text-content {
    display: flex;
    align-items: center;
    height: calc(100% - 182px);
    color: white;
    text-align: left;
    line-height: 48.41px;
    font-weight: 400;
    font-size: 40px;
    padding-left: 70px;

}

.text-heading-first {
    font-family: Inria-sans, sans-serif;
}

.text-heading-second {
    font-size: 20px;
    font-weight: 500;

}

.form-control {
    border: unset !important;
    width: 80%;
}

.form-control:focus {
    border-color: unset !important;
    outline: 0;
    box-shadow: unset !important;
}

.input-div {
    display: flex;
    align-items: center;
    background-color: #fff;
    border: unset;
    padding-left: 10px;
}

/* React datapicker Component START */
.datapicker {
    padding: 12px 0 0 10px;
    border: unset;
}

.react-datepicker-ignore-onclickoutside {

    outline: none !important;
}

/* React datapicker Component END  */
.custom-datetime-input {
    position: relative;
}

.custom-datetime-input input[type="datetime-local"]::-webkit-calendar-picker-indicator {
    display: none;
    /* Hide default icon */
}

.custom-datetime-input .custom-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    /* Add styles for your custom icon */
}

.book-btn {
    width: 190px;
    font-size: 20px;
    font-weight: 700;
    border: none;
    font-family:sans-serif ;
}

.custom-form {
    background: #282725;
    padding: 0;
    margin-top: -88px;
}

.custom-form.searchform {
    padding: 29px 34px 12px 34px;
}

.form-tag {
    text-align: left;
}

.form-label {
    color: #A1A1A1;
    text-align: left;
    display: block;

}

.form-contain {
    position: relative;
}

.fa-location-dot,
.fa-calendar-days,
.fa-clock {
    position: absolute;
    top: 46px;
    right: 30px;
    color: #1e1e1e;
}

.input-text {
    height: 44px;
    /* width: 25%; */
    border: unset;
    border-radius: 0 !important;
    color: #C8C8C8 !important;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 14px;
    text-align: left;

}
.search-container {
    text-align: center;

}
.search-btn {
    text-align: center;
    background-color: #CC4452;
    color: white;
    position: relative;
    top: 36px;
    border: none;
    padding: 14px 58px 14px 58px;
    font-size: 14px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
}

.chooseUs {
    margin-top: 160px;
    background-color: #282725;
    height: 300px;
}

.gen-heading {
    font-family: 'Dosis';
    text-align: center;
}

.gen-heading .explore {
    font-size: 18px;
    color: #adaba5;
    font-family: 'Dosis';
}

.gen-heading h1 {
    color: #000000;
    font-size: 32px;
    font-weight: 700;
}

.chooseUs img {
    height: 64px;
}

.font-dosis {
    font-family: 'Dosis';
}

.chooseUs .paragraph {
    font-size: 16px;
    color: #969696;
    text-align: center;

}

.text-title {
    font-size: 25px;
    font-weight: 400;
    color: #1e1e1e;
    font-family: Dosis, 'sans-serif';
    text-align: center;
}

.icon-images {
    size: 40px;
}

.aboutus {
    margin-top: 200px;

}

.online-booking-img {
    width: 69px;
    height: 58px;
}

.professionaldriver-img {
    width: 68px;
    height: 63px;
}

.carbrands-img {
    width: 90px;
    height: 34px;
}

.paymentcard-img {
    width: 68px;
    height: 58px;
}

.font-inria {
    font-family: 'Inria sans';
}

.about-text-align {
    display: flex;
    align-items: center;
}

.aboutus-text-container {
    background-color: #282725;
    text-align: left;
    color: #fff;
    padding: 40px 40px;
    margin-left: -100px;
}

.aboutus-text-container h3 {
    font-size: 36px;
    font-weight: 700;
    color: #e4e4e4;
    padding: 0 0 10px 0;

}

.aboutus-details {
    font-size: 14px;
    font-weight: 300;
    padding-bottom: 12px;
    font-family: 'Inria Sans';
    width: 94%;
}

.aboutus-text-container .aboutus-btn {
    background: #CC4452;
    font-size: 14px;
    font-weight: 700;
    border: none;
    color: #ffffff;
    padding: 8px 40px;
}

div#navbarNavDropdown {
    position: relative;
    top: 10px;
}

.service-container div h3 {
    font-size: 35px;
    margin-top: 30px;
    color: #1e1e1e;
}

.service-container div p {
    color: rgb(192, 188, 181);
    font-size: 18px;
}

.service-container .row .col-md-4 div img {
    width: 100%;
    border-radius: 2%;
}

.service-container .row {
    margin-top: 40px;
}

.service-container .row .col-md-4 h3 {
    font-size: 20px;
    font-weight: 1;
    color: #6a6a6a;
}

.anywhere {
    margin-top: 150px;
    background-image: url('../cab_images/Component8.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 365px;
    color: white;
    font-family: 'Dosis';
    text-align: center;
}

.anywhere-text {
    padding-top: 100px;
}

.anywhere-text p {
    font-weight: 100;
    font-family: 'Dosis';
}

.prodrive-container {
    margin-top: 100px;
}

.prodrive-container div div p:nth-child(1) {

    font-family: 'Dosis';
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: center;
    color: #000000;
}

.prodrive-container div div p:nth-child(2) {
    color: #d7d2bd;
    font-family: 'Dosis';
    text-align: center;
}

.car-container .icon-container {
    display: flex;
    justify-content: center;
    column-gap: 20px;
}

.car-container p {
    font-weight: 15;
    font-size: 18px;
    color: black;
    text-align: center;
}

.outer-span {
    display: flex;
    justify-content: center;
    column-gap: 20px;
}

.outer-span .fa-user,
.outer-span .fa-envelope {
    color: rgb(170, 150, 122);
    font-size: 20px;
}

.outer-span span {
    color: rgb(192, 188, 181);
}

.download-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.download-container h1 {
    font-size: 40px;
    font-weight: 700;
    font-family: 'Poppins';
    color: #000;
    text-align: center;
}

.download-container h1 span {
    color: #CC4452;
}

.download-container p {
    font-size: 18px;
    font-weight: 400;
    font-family: 'Poppins';
    text-align: center;
}

.download-container .google-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.download-container .google-img {
    margin-top: -20px;


}
.service-container {
    text-align: center;
}

/************ owl-carousel  *************/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');




.testimonial {
    font-size: 0.9rem;
    line-height: 1.4rem;
    font-weight: 500
}


.owl-carousel {
    margin-bottom: 15px
}

.owl-carousel .owl-item img {
    border-radius: 50%;
    object-fit: cover
}

.owl-theme .owl-nav [class*='owl-'] {
    border-radius: 50% !important;
    background: inherit !important;
    border: 3px solid #bbb;
    color: #bbb !important
}

.owl-nav {
    padding: 40px 0px;
}

.owl-carousel .owl-dot,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-nav .owl-prev {
    /* cursor: pointer; */
    background: #d7d2bd;
}

.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next {
    padding: 6px 6px !important;
}

.owl-carousel .owl-nav .owl-prev .fa-arrow-left,
.owl-carousel .owl-nav .owl-next .fa-arrow-right {
    display: none !important;
}

.owl-theme .owl-nav [class*='owl-']:hover {
    border: 1px solid #d7d2bd;
    color: #d7d2bd !important;
    background-color: #d7d2bd !important;
    padding: 6px 6px !important;
}

.owl-nav .owl-prev .fa .fa-arrow-left {
    display: none !important;
}
/* Navbar responsive */
.navbar-toggler {
    border: none;
    background-color: transparent;
}

.navbar-toggler:focus {
    outline: none;
}

.navbar-toggler-icon {
    background-color: #fff;
    /* Color of hamburger icon */
}

@media(max-width: 575.5px) {
    .container {
        margin: 0px;
        padding: 20px
    }
}


@media (max-width: 767px) {
    /* navbar responsive start */
    .navbar-collapse {
        background-color: #000;
        padding: 10px;
        border-radius: 5px;
        position: absolute;
        top: 110px;
        left: 40px;
        opacity: .9;
        width: 80%;
        z-index: 999;
        box-shadow: 0px 3px 3px 2px #ccc;

    }

    .container .navbar-collapse .navbar-nav .nav-item a.nav-link {
        font-family: Poppins;
        font-size: 18px;
        color: #fff;
        text-transform: capitalize;
        text-align: center;

    }

    a.nav-link.active {
        color: #000;
    }

    .navbar-nav {
        width: 100%;
        text-align: center;
    }

    .nav-item {
        display: block;
        margin-bottom: 10px;
    }

    .nav-link {
        padding: 10px 0;
    }

    .sign-form {
        justify-content: center;
    }
/* navbar responsive  end*/
.bg-image {
    
    height: 60vh;
}
.text-content {
    height: calc(100% - 273px); 
    font-size: 30px;
    padding-left: 54px;
    line-height: 40.41px;
}
.text-heading-second {
    font-size: 16px;

}
.custom-form {
    margin-top: -107px;
}
.form-label {
    margin-bottom: .5rem;
    margin-top: .5rem  !important;
}
.chooseUs img {
    height: 58px;
}
.online-booking-img {
    width: 50px;
}
.text-title {
    font-size: 14px;
}
.chooseUs .paragraph {
    font-size: 9px;
}
.aboutus-text-container {
    margin-top: 121px;
    margin-left: 0px;
}
/* .owl-carousel .owl-item {
    float: unset  !important;
} */
}

/* Media query for responsive styles */



/* ********************************************** */


@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .nav-item {
        padding: 10px 0px;
    }
    
    .text-content {
        font-size: 40px;
        height: calc(100% - 220px);
    }
    .text-heading-second {
        font-size: 24px;
    }
    .text-title {
        font-size: 20px;
    }
    .chooseUs .paragraph {
        font-size: 14px;
    }
    img.image-aboutus {
        width: 100%;
        height: 100%;
    }
    .aboutus-text-container {
       
        padding: 20px 20px;
        margin-left: -90px;
    }
    .aboutus-text-container h3 {
        font-size: 26px;     
    }
    .aboutus-details {
        font-size: 10px;  
    }
    .aboutus-text-container .aboutus-btn {
        padding: 8px 20px;
    }
    .service-container div h3 {
        margin-top: 0px;  
    }
    .service-container .row .col-md-4 h3 {
        padding-top: 20px;
        
    }
 
}
@media screen and (min-width:1200px) and (min-width:1600px) {
    .navbar-collapse {
        justify-content: flex-end;
    }
    .nav-item {
        padding: 10px 0px;
    }
    .navbar-toggler {
        order: -1;
    }
    .img.image-aboutus {
        width: 100%;
    }
    .aboutus-text-container {
        margin-left: -300px;
        padding-right: 246px;
    }
    .service-container {
        text-align: center;
    }
    .service-container .container{
        max-width: 90%;

    }
    .aboutus-text-container {
        padding: 40px 40px;
        margin-left: -108px;
    }
    img.image-aboutus {
        width: 90%;
        height: 100%;
    }
    .anywhere-text {
        text-align: center;
     }
     .text-content {
        height: calc(100% - 190px);
    }

}
/* @media (max-width: 1280px) {
    .navbar-collapse {
        justify-content: flex-end;
    }

    .nav-item {
        padding: 10px 20px;
    }

    .navbar-toggler {
        order: -1;
    }

} */








/* @media (max-width: 767px) {}

@media (min-width: 768px) and (max-width: 991px) {}

@media only screen and (min-width: 992px) and (max-width: 1199px) {

}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {} */
