.ride-history-block{

    border: 1px solid black;
}

.tab-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 105px;
    font-weight: bold;
    margin: 35px;
    font-size: 27px;
}

.tab-bar li{
    border: 1ps solid black;
    cursor: pointer;
}