.input-group-append {
    display: flex;
    justify-content: center;
    align-items: center;
    border:unset;
    height: 8vh;
}
.input-group .btn:focus{
    border:none;
    outline: 0;
    box-shadow: none;
}
@media screen and (max-width: 957px) {
    .btn-check:focus+.btn, .btn:focus {
        outline: 0;
        box-shadow: none;
    }
  }