.pickup-container {
    text-align: left;
}

.pickup-container .signup-logo-container img {
    width: 240px;
    height: auto;
    padding: 30px 0px 30px 0px;
}

.pickup-container .mst {
    background: #E9FFE3;
    text-align: center;
    color: #000000;
    font-family: 'Poppins', sans-serif;
    padding: 20px 0px;
}

.pickup-container .mst p:nth-child(1) {
    font-size: 24px;
    font-weight: 600;
}

.pickup-container .mst p:nth-child(2) {
    font-size: 20px;
    font-weight: 400;
}

.pickup-container .mst p span {
    font-size: 24px;
    font-weight: 700;
}

.pickup-container .mst p:nth-child(3) {
    font-size: 16px;
    line-height: 10px;
}

.booking-form-container {

    font-family: 'Inter', sans-serif;
}

.booking-form-container .booking-form,
.provide-additional-form-container .booking-form {
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-weight: 600;
    text-align: left;
    padding: 40px 0px;
}

.booking-form-container .radio-btn-container {
    border: 1px solid #000000;
    padding: 30px 20px;
    display: flex;
    /* justify-content:center; */
    align-items: center;
    column-gap: 40px;

}

.booking-form-container .radio-btn-container .form-check-label {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    padding: 5px 0px 0px 15px;
}

.booking-form-container .radio-btn-container .form-check-input {
    font-size: 30px;
    font-family: 'Inter', sans-serif;
    appearance: none;
	width: 20px;
	height: 20px;
	border: 1px solid #CC4452;
	border-radius: 50%;
	margin-right: 10px;
	background-color: transparent;
	position: relative;
	top: 6px;

}

.form-check-input:checked::before {
	content: "";
	display: block;
	width: 12px;
	height: 12px;
	background-color: #CC4452;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	animation: appear 0.8s;
}

.provide-additional-form-container .booking-form {
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-weight: 600;
    text-align: left;
    padding: 50px 0px 0px 0px;

}

.provide-additional-form-container .flight-number {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-align: left;
    color: #000000;
}

.provide-additional-form-container .form-label {
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 400;
    text-align: left;
    color: #000000;
    padding: 20px 0px 0px 0px;
}

.provide-additional-form-container .form-control {
    border-radius: 0 !important;
    border: 1px solid #D7D2BD;
    padding: 20px 0px;
    font-family: 'Inter', sans-serif;
}

.flight-field p,
.chauffer-notes-field p,
.cost-center-field p {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #BEBEBE;
    text-align: left;
    padding: 5px 0px;
}

/* .cost-center-field p{
    padding: 0px 0px 70px 0px;
} */
.chauffer-notes-field .form-control,
.cost-center-field .form-control {
    padding: 50px 0px;

}

/* buttons  */
.skip-pickup-btn {
    padding: 8px 70px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    border: 1px solid #000000;
    background-color: #fff;
}

.continue-btn {
    background-color: #000000;
    color: #fff;
    padding: 8px 110px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    border: none;
}