.reset-password-container{
    text-align: left;
    color: #000000;
}
.reset-form-container{
    border:1px solid #CACACA;
    padding :0px 0px;
}
.reset-password-container .container .signup-logo-container {
    width: 240px;
    height: auto;
    padding: 30px 0px 60px 0px;
}
.reset-form-container{
    border: 1px solid #CACACA;
    padding: 30px;
    text-align: left;
    font-family: "Inter", sans-serif;
}
.reset-form-container .formtitle{
    font-family: "Inter", sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 39px;
    padding:  30px 0 0 0;
    color: #000000;
}
.registered-email{
    font-size: 20px;
    font-weight: 400px;
    line-height: 24px;
}
.reset-form-container .form-label{
    text-align: left;
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    color: #000000;
    padding-top: 30px;
}
.reset-form-container input{
    border: 1px solid #D7D2BD;
    padding: 16px;
    border-radius: 1px;
    margin-bottom: 30px;
}
.reset-form-container .btn-login{
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    border-radius: 1px;
    margin-bottom: 30px;
    font-family: "Inter", sans-serif;
    background-color: #000000;
}