.serviceclass-container{
    text-align: left;
}
.serviceclass-container .signup-logo-container img{
    width: 240px;
    height: auto;
    padding: 30px 0px 30px 0px;
}
/* .serviceclass
{

} */
.serviceclass-container .mst{
    background:#E9FFE3;
    text-align: center;
    color:#000000;
    font-family: 'Poppins', sans-serif;
    padding: 20px 0px; 
}
.serviceclass-container .mst p:nth-child(1) 
{
    font-size: 24px;
    font-weight: 600;
}
.serviceclass-container .mst p:nth-child(2){
    font-size: 20px;
    font-weight: 400;
}
.serviceclass-container .mst p span {
    font-size: 24px;
    font-weight: 600;
}
.serviceclass-container .mst p:nth-child(3) {
    font-size: 16px;
    line-height: 10px;
}

.business-class-container{
    padding:50px 0px 0px 0px;
}
.business-class-container .car-container{
    border: 1px solid #AFAFAF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.business-class-icon-row{
    display: flex;
    flex-direction: row;
    column-gap: 40px;
    font-weight: 500;
    color: #000000;
    font-size:15px;
}
.business-class-icon-row div{
    display: flex;
    flex-direction: row;
    column-gap: 10px;
}
.business-class-container .car-container p{
    font-family:'Inter', sans-serif;
}
.business-class-container .car-container p:nth-child(2){
    font-weight: 700;
    color:#000000;
    font-size: 20px;
}
.business-class-container .car-container p:nth-child(3){
    font-weight: 500;
    color: #FF0000;
    font-size:15px;
}
.business-class-container .car-container p:nth-last-child(1){
    font-weight: 700;
    color:#000000;
    padding: 20px 0px;
}
/* all-class-include-container */

.all-class-include-container {
    padding: 50px 0px;
}
.all-class-include-container .all-class-include,
.please-note-container .please-note-include
{
    background-color:#F9F9F9;
    padding: 30px 30px;
}
.all-class-include-container .all-class-include p:nth-child(1),
.please-note-container .please-note-include p:nth-child(1)
{
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-align: left;
    border-bottom: 1px ;
    color: #000000;
}
.all-class-include-container .all-class-include ul li,
.please-note-container .please-note-include ul li
{
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 500;
    text-align: left;
    color: #000000;
}
.serviceclass-container .continue-btn{
    margin-top:50px;
    background-color: #000000;
    color: #fff;
    border: none;
    padding: 8px 110px;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 600;
}

.selected {
    border: 1px solid #00980F !important; /* Add your desired styling for the selected state */
    box-shadow: 2px rgb(206, 206, 242) !important;
  }