body {
  font-family: sans-serif;
}

.step-bar .mst{
  background:#E9FFE3;
  text-align: center;
  color:#000000;
  font-family: 'Poppins', sans-serif;
  padding: 20px 0px; 
}
.step-bar .mst p:nth-child(1) 
{
  font-size: 24px;
  font-weight: 600;
}
.step-bar .mst p:nth-child(2){
  font-size: 20px;
  font-weight: 400;
}
.step-bar .mst p span {
  font-size: 24px;
  font-weight: 700;
}
.step-bar .mst p:nth-child(3) {
  font-size: 16px;
  line-height: 10px;
}

.stepper {
  width: 70%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  margin-bottom: 20px;
}

.step {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.step-number {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
  z-index: 2;
}

.step-name {
  font-size: 14px;
}

.active .step-number {
  background-color: #CC4452;
  color: #fff;
}

.complete .step-number {
  background-color: #CC4452;
  color: #fff;
}

.progress-bar {
  position: absolute;
  top: 25%;
  left: 0;
  height: 4px;
  background-color: #ccc;
}

.progress {
  color: white;
  height: 100%;
  background-color: #CC4452;
  transition: 0.2s ease;
}

.bookride-container{
  margin: 0px 100px;
}

.bookride-container .signup-logo-container{
  width: 230px;
  text-align: left;
}
.signup-logo-container img{
  width: 100%;
}