.bg-image-aboutus  .text-content-aboutus .text-heading-first{
    font-family: 'Inria Sans', sans-serif;
    font-size: 40px;
    font-weight: 400;
    text-align: left;
    padding: 150px 0px 0px 0px;
    margin-bottom: 0px;
}