.ride-history-container p{
   margin: 0px;
   font-family: Inter;
   font-weight: 700;
   font-size: 14px;
   /* white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis; */
}

.history-card{
   border: 1px solid #BBBBBB;
   box-shadow: 1px 1px 1px 1px;
   padding: 25px;
   margin: 10px;
}

.history-card img{
   padding: 10px;
}

.card-row{
  
   padding: 5px;
   display: flex;
    justify-content: left;
    align-items: center;   
}

.date-row{
   display: flex;
   justify-content: space-between;
   align-items: center;   
}