.App {
  text-align: center;
}
input.datapicker {
  color: #ccc !important;
}
@font-face {
  font-family: Dosis;
  src: url('./CssStyle/Dosis/static/Dosis-Regular.ttf');
}
@font-face {
  font-family: Inter;
  src: url('./CssStyle/Inter/static/Inter-Regular.ttf');
}
@font-face{
  font-family:Inria-sans ;
  src: url('./CssStyle/Inria_Sans/InriaSans-Regular.ttf');
}
@font-face{
  font-family: poppins;
  src: url('./CssStyle/Poppins/Poppins-Regular.ttf');
}

